body {
    background-color: #039be5;
    font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif;
    font-weight: 300;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    text-shadow: 2px 2px 4px #888888; 
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif;
    font-weight: 300;
    color: #fafafa;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 20px;
    color:#fafafa;
}

.centered {
    text-align: center;
}

b {
    color:#fafafa;
}

/* Links */
a {
    color: #b2dfdb;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #ff9800;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.logo {
	text-align: center;
	margin-top: 25px;
    
}
#avatar{
    -moz-box-shadow: 1px 1px 1px #888888; /* 老的 Firefox */
box-shadow: 1px 1px 1px #888888;
 /* border:1px solid #C0C0C0; */
     /*firefox*/
     -moz-border-radius: 5px;
     /*css3*/
     border-radius: 5px;
     /*webkit*/
   -webkit-border-radius: 5px;

}
.swing{
    animation: upsideDown .6s ease-in-out 0.2s infinite alternate;
	-webkit-animation: upsideDown .6s ease-in-out 0.2s infinite alternate;
}

h1 {
	font-size: 50px;
}

.w {
	margin-top: 20px;
}
.w i {
	font-size: 42px;
	padding: 16px;
}
@keyframes upsideDown {
  from {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  to {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

@-webkit-keyframes upsideDown {
  from {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  to {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

