@-webkit-keyframes AnimationName {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
@keyframes AnimationName { 
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
.layoutless {
    padding: 0 ;
    margin: 0 ;
}

.s2 { /* secondary */
    color: #60373e;
    font-size: 50%;
}

body {
    font-size:1em;
    line-height:1.1;
    font-family:Roboto,"Helvetica Neue",Helvetica,Arial,freesans,sans-serif;
 background: linear-gradient(20deg, #039be5, #9c27b0, #e91e63, #673ab7, #8bc34a);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 7s ease infinite;
-moz-animation: AnimationName 7s ease infinite;
-o-animation: AnimationName 7s ease infinite;
animation: AnimationName 7s ease infinite;

   color:#222;
}

.doc {
    margin:0 auto;
    min-height:30em;
    width:32em;
    padding:1em;

}

a:link { color: #767676; }
a:visited { color: #787878; }
a:hover { color: #787878; }
a:active { color: #787878; }

h1, h2, h3, h4 {
    letter-spacing:-0.04em;
}

h1 .s2, h2 .s2, h3 .s2, h4 .s2 {
    letter-spacing:-0.03em;
}

.header {
    margin-top:2em;
    font-size: 4em;
}

.header h2 {
    margin-bottom: 5px;
}

.header a {
    text-decoration:none;
}

.header p {
    margin: auto;
    margin-top:-2.6em;
    text-align:right;
}

.header p span {
    color: #60373e;
    padding: 4px;
    margin-bottom:4px;
}

.menu {
    font-weight: bold;
    text-align:right;
    text-transform:lowercase;
    padding-top:0.5em;
    border-top:4px solid #60373e;
}

.menu li {
    background-color: #60373e;
    padding:0.5em;
    padding-right:0;
    display:inline;
}

.menu li a {
    text-decoration:none;
}

.menu li a:link { color: #91989f; }
.menu li a:visited { color: #91989f; }
.menu li a:hover { color: #cdc; }
.menu li a:active { color: #91989f; }

.menu li.last {
    padding-right:0.5em;
}

/*footer*/
.footer {
    margin-top:3em;
}

.footer p.copy {
    text-align:center;
    color: #BDC0BA;
    font-size: 50%;
}


